.cases-page {
    @include adaptiveValue("margin-top", 100, 30);
    @include adaptiveValue("margin-bottom", 58, 22);
    // .cases-page__container
    &__container {
    }
    // .cases-page__wrapper
    &__wrapper {
        @media (min-width: $tablet) {
            display: grid;
            grid-template-columns: rem(270) 1fr;
            @include adaptiveValue("gap", 145, 20);
        }

        @include adaptiveValue("margin-bottom", 100, 30);
    }
    // .cases-page__title
    &__title {
        align-self: center;

        @media (max-width: $tablet) {
            margin-bottom: rem(20);
        }
    }
    // .cases-page__content
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        #js-grid-masonry {
            width: 100%;
        }
    }
    // .cases-page__showmore
    &__showmore {
        @include adaptiveValue("margin-top", 70, 20);
    }
    // .cases-page__item
    &__item {
        &:hover {
            color: $blue;
        }
    }
}
.title-cases {
    // .title-cases__title
    &__title {
        @include adaptiveValue("margin-bottom", 16, 5);
        font-weight: 700;
        @include adaptiveValue("font-size", 30, 13);
        text-transform: uppercase;
    }
    // .title-cases__subtitle
    &__subtitle {
        font-weight: 500;
        @include adaptiveValue("font-size", 21, 11);
        color: $blue;
    }
}
.item-cases {
    // .item-cases__image
    &__image {
        margin-bottom: rem(15);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // .item-cases__content
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(10);
    }
    // .item-cases__title
    &__title {
        transition: color 0.2s linear;
        @include adaptiveValue("font-size", 18, 11);
    }
    // .item-cases__link
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 rem(24);
        width: rem(24);
        height: rem(24);
        border: 1px solid $blue;
        border-radius: 50%;
        transform: rotate(-180deg);

        svg {
            path {
                fill: $blue;
            }
        }

        @media (min-width: $mobile) {
            flex: 0 0 rem(33);
            width: rem(33);
            height: rem(33);
        }
    }
}
