//====================================================================================================
.footer {
    border-top: 1px solid $mainColor;
    // .footer__container
    &__container {
        padding-top: rem(18);
        padding-bottom: rem(18);
        font-weight: 300;
        font-size: rem(12);
        text-align: center;
    }
}

//====================================================================================================
