.gazebo {

    // .gazebo__glazing
    &__glazing {
        display: flex;
        gap: rem(20);
        margin: 0 rem(15);
        @include adaptiveValue("margin-bottom", 80, 24);

        @media (min-width:$pc) {
            @include adaptiveValue("margin-right", 160, 15, 1920, 1600, 1);
            margin-left: 0;

            &._reverse {
                @include adaptiveValue("margin-left", 160, 15, 1920, 1600, 1);
                flex-direction: row-reverse;
                margin-right: 0;
            }
        }

        @media (max-width:$pc) {
            margin: 0 rem(15);
            @include adaptiveValue("margin-bottom", 80, 24);
        }

        @media (max-width:$tablet) {
            flex-direction: column !important;
        }
    }

    // .gazebo__types
    &__types {
        @include adaptiveValue("margin-bottom", 64, 24);
    }


    // .gazebo__future
    &__future {
        @include adaptiveValue("margin-bottom", 90, 30);
    }


    // .gazebo__maxsale
    &__maxsale {
        @include adaptiveValue("margin-bottom", 75, 24);
    }


    // .gazebo__zero
    &__zero {
        display: flex;
        @include adaptiveValue("gap", 50, 10);
        // justify-content: space-between;
        @include adaptiveValue("margin-bottom", 81, 24);
        background-color: $blue;
        padding: 0 rem(15);
    }
}

//========================================================================================================================================================

.glazing-gazebo {

    // .glazing-gazebo__image
    &__image {

        @media (min-width:$tablet) {
            flex: 0 0 rem(680);
            @include adaptiveValue("flex-basis", 680, 300);
        }

        img {
            width: 100%;
            height: 100%;
            max-height: rem(450);
            object-fit: contain;

            @media (min-width:$tablet) {
                max-height: none;
                object-fit: cover;
            }
        }
    }

    // .glazing-gazebo__content
    &__content {
        flex: 1 1 auto
    }

    // .glazing-gazebo__top
    &__top {
        @include adaptiveValue("padding-bottom", 33, 10);
        @include adaptiveValue("padding-left", 137, 10, 1920, 1366, 1);
        border-bottom: 1px solid $blue;
    }

    // .glazing-gazebo__title
    &__title {
        @include adaptiveValue("margin-bottom", 29, 11);
        font-weight: 700;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 30, 13);
    }

    // .glazing-gazebo__text
    &__text {
        max-width: rem(788);
        @include adaptiveValue("font-size", 19, 10);
    }

    // .glazing-gazebo__price
    &__price {
        display: flex;
        align-items: center;
        gap: rem(5);
        @include adaptiveValue("margin-top", 25, 5);
        font-weight: 500;
        @include adaptiveValue("font-size", 21, 11);
        color: $blue;

        span {
            &:last-child {
                font-weight: 400;
                text-decoration: line-through;
                @include adaptiveValue("font-size", 15, 8);
                color: $mainColor;
            }
        }
    }

    // .glazing-gazebo__form
    &__form {
        @include adaptiveValue("padding-top", 45, 15);
        @include adaptiveValue("padding-left", 137, 10, 1920, 1366, 1);

        & .form {

            // .form__title
            &__title {
                @include adaptiveValue("margin-bottom", 21, 10);
                max-width: rem(434);
                @include adaptiveValue("font-size", 20, 11);
                color: $blue;
            }

            // .form__row
            &__row {
                display: flex;
                flex-direction: column;
                gap: rem(8);

                @media (min-width:$mobileSmall) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: rem(20);
                }

                .input {
                    height: rem(34);
                    @include adaptiveValue("font-size", 19, 10);

                    @media (min-width:$mobileSmall) {
                        height: rem(51);
                    }
                }

                .button {
                    height: rem(34);

                    @media (min-width:$mobileSmall) {
                        height: rem(51);
                    }
                }
            }

            // .form__privacy
            &__privacy {
                @include adaptiveValue("margin-top", 21, 7);
                @include adaptiveValue("font-size", 11, 7);
            }
        }
    }
}

//========================================================================================================================================================

.types-gazebo {

    // .types-gazebo__header
    &__header {
        margin-bottom: rem(12);
        @include adaptiveValue("padding-bottom", 39, 15);
        border-bottom: 1px solid $mainColor;
    }

    // .types-gazebo__navigation
    &__navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiveValue("gap", 30, 5);

        @include adaptiveValue("margin-bottom", 40, 15);
        @include adaptiveValue("padding-bottom", 10, 5);

        @media (max-width:$mobileSmall) {
            overflow-x: auto;
            justify-content: flex-start;
        }
    }

    // .types-gazebo__title
    &__title {
        padding: rem(17) rem(28);
        border-radius: 37px;
        opacity: 0.5;
        border-color: transparent;
        @include adaptiveValue("font-size", 18, 9);
        border: 1px solid transparent;

        transition: opacity .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;

        @media (max-width:$mobile) {
            @include adaptiveValue("padding", 17, 6);
        }

        &._tab-active {
            border-color: $blue;
            color: $blue;
            opacity: 1;
        }
    }

    // .types-gazebo__content
    &__content {
        border: 0;
    }

    // .types-gazebo__body
    &__body {}
}

.header-types-gazebo {

    // .header-types-gazebo__container
    &__container {}

    // .header-types-gazebo__title
    &__title {
        margin: 0 auto;
        max-width: rem(761);
        font-weight: 700;
        @include adaptiveValue("font-size", 30, 13);
        text-align: center;
        text-transform: uppercase;
    }
}

.body-types-gazebo {

    // .body-types-gazebo__container
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .body-types-gazebo__text
    &__text {
        @include adaptiveValue("margin-bottom", 45, 15);
        max-width: rem(922);
        @include adaptiveValue("font-size", 19, 10);
    }

    // .body-types-gazebo__form
    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .form {

            // .form__title
            &__title {
                @include adaptiveValue("margin-bottom", 21, 10);
                max-width: rem(434);
                @include adaptiveValue("font-size", 20, 11);
                color: $blue;
            }

            // .form__row
            &__row {
                display: flex;
                flex-direction: column;
                gap: rem(8);

                @media (min-width:$mobileSmall) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: rem(20);
                }

                .input {
                    height: rem(34);
                    @include adaptiveValue("font-size", 19, 10);

                    @media (min-width:$mobileSmall) {
                        height: rem(51);
                    }
                }

                .button {
                    height: rem(34);

                    @media (min-width:$mobileSmall) {
                        height: rem(51);
                    }
                }
            }

            // .form__privacy
            &__privacy {
                @include adaptiveValue("margin-top", 21, 7);
                @include adaptiveValue("font-size", 11, 7);
                text-align: center;
            }
        }
    }

    // .body-types-gazebo__cat
    &__cat {
        @include adaptiveValue("margin-top", 41, 25);
        background-color: #f2f2f2;
    }
}

.cat-types-gazebo {

    // .cat-types-gazebo__container
    &__container {}

    // .cat-types-gazebo__list
    &__list {
        display: flex;
        gap: rem(30);

        @media (max-width:em(1366)) {
            overflow-x: scroll;
            overflow-y: hidden;
        }

        @media (min-width:$pc) {
            justify-content: center;
        }
    }

    // .cat-types-gazebo__item
    &__item {
        flex: 0 0 23%;
        width: rem(385);
        @include adaptiveValue("padding", 56, 15);
        position: relative;
        transition: background .2s ease-in-out;

        &:hover {
            background-color: #fff;

            .item-cat-gazebo__order {
                opacity: 1;
                z-index: 1;
            }

            .item-cat-gazebo__image {
                transform: scale(1.02);
            }
        }
    }
}

.item-cat-gazebo {

    // .item-cat-gazebo__image
    &__image {
        margin-bottom: rem(20);
        height: rem(212);
        transition: transform .2s ease-in-out;

        @media (min-width:$tablet) {
            height: rem(312);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .item-cat-gazebo__title
    &__title {
        font-weight: 500;
        text-align: center;
        @include adaptiveValue("font-size", 18, 12);
    }

    // .item-cat-gazebo__price
    &__price {
        font-weight: 500;
        text-align: center;
        @include adaptiveValue("font-size", 21, 13);
        color: $blue;
    }

    // .item-cat-gazebo__order
    &__order {
        margin-top: rem(20);

        @media (min-width:$pc) {
            margin-top: 0;
            position: absolute;
            left: 50%;
            bottom: rem(-50);
            transform: translate(-50%, 0px);
            z-index: -1;
            opacity: 0;
            transition: opacity .2s ease-in-out;
        }
    }
}

//======================================================================================================================================================

.future-gazebo {

    // .future-gazebo__container
    &__container {}

    // .future-gazebo__title
    &__title {
        margin: 0 auto;
        @include adaptiveValue("margin-bottom", 47, 24);
        max-width: rem(761);
        font-weight: 700;
        @include adaptiveValue("font-size", 30, 13);
        text-transform: uppercase;
        text-align: center;
    }

    // .future-gazebo__content  
    &__content {
        position: relative;
    }

    // .future-gazebo__slider
    &__slider {}

    // .future-gazebo__wrapper
    &__wrapper {}

    // .future-gazebo__slide
    &__slide {
        img {
            width: 100%;
            height: 100%;
        }
    }

    // .future-gazebo__nav
    &__nav {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 110%;
        transform: translate(-50%, -50%);

        display: flex;
        justify-content: space-between;

        path {
            fill: $blue;
        }

        .prev,
        .next {
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(48);
            height: rem(48);
            flex: 0 0 rem(48);
            border: 1px solid $blue;
            border-radius: 50%;

            &.swiper-button-disabled {
                border-color: transparent;

                path {
                    fill: $mainColor;
                }
            }
        }

        .next {
            transform: rotate(-180deg);
        }
    }
}

//========================================================================================================================================================


.maxsale-gazebo {

    // .maxsale-gazebo__container
    &__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        @include adaptiveValue("gap", 159, 20, 1920, 991, 1);

        @media (min-width:$mobileSmall) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .maxsale-gazebo__content
    &__content {}

    // .maxsale-gazebo__title
    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 30, 13);
        text-transform: uppercase;
    }

    // .maxsale-gazebo__subtitle
    &__subtitle {
        @include adaptiveValue("margin-bottom", 59, 22);
        @include adaptiveValue("font-size", 22, 11);
        color: $blue;
    }

    // .maxsale-gazebo__text
    &__text {
        @include adaptiveValue("margin-bottom", 34, 12);
        @include adaptiveValue("font-size", 16, 8);
    }

    // .maxsale-gazebo__button
    &__button {
        width: auto;
    }

    // .maxsale-gazebo__image
    &__image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

//========================================================================================================================================================

.zero-gazebo {

    // .zero-gazebo__image
    &__image {
        position: relative;
        flex: 0 0 rem(800);
        @include adaptiveValue("flex-basis", 800, 200);

        img {
            position: absolute;
            // top: rem(-75);
            top: -13%;
            left: 0;
        }

        ._percent {
            position: absolute;
            top: 0;
            right: 0;
            font-weight: 500;
            font-size: rem(400);
            @include adaptiveValue("font-size", 400, 50);
            line-height: 1;
            color: $blue;
            text-shadow: 0px 0px 23px rgba(0, 0, 0, 0.25);
        }

        @media (max-width:$pc) {
            display: none;
        }
    }

    // .zero-gazebo__content
    &__content {
        max-width: rem(881);
        @include adaptiveValue("padding-top", 80, 20);
        @include adaptiveValue("padding-bottom", 80, 20);
        color: #fff;

        @media (max-width:$pc) {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    // .zero-gazebo__title
    &__title {
        margin-bottom: rem(15);
        font-weight: 700;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 30, 13);
        max-width: rem(302);
    }

    // .zero-gazebo__subtitle
    &__subtitle {
        @include adaptiveValue("margin-bottom", 42, 20);
        font-weight: 500;
        @include adaptiveValue("font-size", 22, 11);
    }

    // .zero-gazebo__footer
    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptiveValue("gap", 50, 20);

        @media (min-width:$mobile) {
            flex-direction: row;
            align-items: flex-start;
        }
    }

    // .zero-gazebo__text
    &__text {
        @include adaptiveValue("font-size", 16, 8);
    }

    // .zero-gazebo__button
    &__button {
        @media (min-width:$mobile) {
            flex: 0 0 rem(295);
        }
    }
}